<!doctype html>
<html lang="{{ getCfg().lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "view:/partial/link" %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>
      <section>
        {% block main %}{% endblock %}
      </section>
      <script src="/{{ getCfg().staticPrefix }}/view/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>
</html>